{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title%}
  {{ category.name }}
{% endblock %}

{% block body %}
  <div>
    {% if category %}
      <h3> {{ category.name }}</h3>
      {% if pages %}
        <ul>
          {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <strong>No pages currently in category.</strong>
      {% endif %}
    {% else %}
      The specified category does not exist!
    {% endif %}
    <br />
    <a href="/rango/category/{{ category.slug }}/add_page/">Add Page</a><br />
  </div>
{% endblock %}
