<!Doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>Rango</title>
  </head>
  <body>
    <h2>Rango says...</h2>
    <div>
      Hey ther partner! <br />
    </div>
    <div>
      {% if categories %}
      <ul>
        {% for category in categories %}
          <li>{{ category.name }}</li>
        {% endfor %}
      </ul>
      {% else %}
        <strong>Ther are no categories present</strong>
      {% endif %}
    </div>
    <div>
      <a href="/rango/about/">About</a><br />
      <img src="{% static "images/rango.jpg" %}" alt="Rango Picture" />
    </div>
  </body>
</html>
